<section class="bg-neutral-100 h-auto">
  <div *ngFor="let job of jobsList; index as i" class="flex justify-center">
    <app-job-list-item
      [jobItem]="job"
      class="md:w-9/12 w-full mx-2 mt-2 drop-shadow-lg"
    ></app-job-list-item>
  </div>
  <section class="flex justify-center py-14 items-center">
    <div
      class="bg-white border-4 basis-8/12 md:basis-4/12 h-14 rounded-xl flex justify-center items-center"
    >
      <fa-icon
        [icon]="faChevronLeft"
        class="md:inline hidden mr-4 pr-8 border-r-2 cursor-pointer"
        (click)="pageDown($event)"
      ></fa-icon>
      <div class="flex">
        <a
          *ngFor="let item of pages; let i = index"
          class="mr-4"
          [routerLink]="'/jobs/' + item"
          routerLinkActive="font-bold"
          >{{ item }}</a
        >
      </div>
      <fa-icon
        [icon]="faChevronRight"
        class="md:inline hidden mr-2 pl-8 border-l-2 cursor-pointer"
        (click)="pageUp($event)"
      ></fa-icon>
    </div>
  </section>
</section>
